<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>payment</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="assets/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/CSS/common.css" />
    <link rel="stylesheet" href="assets/CSS/cardDetails.css" />
    <link rel="stylesheet" href="assets/CSS/cartpayment.css" />
    <link rel="stylesheet" href="assets/CSS/responsive.css" />
  </head>
  <body class="cart-payment" id="cart_payment">
    <!-- ========== haader  ======== -->
    <header>
      <!-- ========== Desktop version Navbar  ============== -->
      <div class="nav_inner_desk">
        <div class="container">
          <div class="nav_main_container">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <a class="navbar-brand brand-logos ms-3" href="index.html">
                  <img src="assets/images/MHM.png" alt="" />
                </a>
                <button
                  class="navbar-toggler toggleBtnNav"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="">
                    <i class="fa-solid fa-bars"></i>
                  </span>
                </button>
                <div
                  class="collapse navbar-collapse nav_toggleContent"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav me-auto ms-4 mb-lg-0 gap-2">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        aria-current="page"
                        href="index.html"
                        >Home</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Technology</a>
                    </li>
                    <li class="nav-item dropdown Slected-menu">
                      <a class="nav-link sele-btn" href="#">
                        Services <i class="fa-solid fa-chevron-down ms-2"></i>
                      </a>
                      <ul class="dropdown-menus">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>

                        <li>
                          <a class="dropdown-item" href="#">Something else</a>
                        </li>
                      </ul>
                    </li>

                    <li class="nav-item">
                      <a href="#" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Project</a>
                    </li>
                    <li class="nav-item dropdown more-menu">
                      <a class="nav-link moresele-btn" href="#">
                        More <i class="fa-solid fa-plus"></i>
                      </a>
                      <ul class="Moredropdown-menus">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>

                        <li>
                          <a class="dropdown-item" href="#">Something else</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <div
                    class="d-flex gap-4 align-items-center me-4 user_Trigger_Btn"
                  >
                    <div class="language_selected">
                      <a href="#" class="language_selected_btn">
                        <img src="assets/images/Ellipse 17.png" alt="" />
                        <div class="select_language">
                          <span>EN</span>
                          <i class="fa-solid fa-chevron-down"></i>
                        </div>
                      </a>
                      <ul class="languagedropdown-menus">
                        <li>
                          <a class="dropdown-item language_option" href="#"
                            >BN</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item language_option" href="#"
                            >INA</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item language_option" href="#"
                            >USA</a
                          >
                        </li>

                        <li>
                          <a class="dropdown-item language_option" href="#"
                            >PSK</a
                          >
                        </li>
                      </ul>
                    </div>

                    <div class="user_authSign">
                      <button class="btn login_btn" type="submit">
                        Log In
                      </button>
                      <button class="btn sign_btn" type="submit">
                        Sign Up
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- ============= Mobile Version Navbar =========== -->
    </header>
    <!-- ========= Header End ======= -->
    <!-- =========== main End ========== -->
    <main class="cart_payment" id="cart_paymentpages">
      <section class="ind_hero_area" id="">
        <div class="banner_container">
          <div class="single_Services_image_gradient">
            <div class="container">
              <div class="banner_content" id="single_services_banner"></div>
            </div>
          </div>
        </div>
      </section>

      <!-- ============== cart payment  ============ -->
      <section class="Card_details_sect" id="Card_details">
        <img class="shadow_img" src="assets/images/div (5).png" alt="" />
        <div class="card_details_container">
          <div class="container">
            <div class="card_details_content">
              <div class="row" id="cart-payment">
                <div class="col-lg-5">
                  <div class="card_navigation_inner">
                    <div class="">
                      <a href="CheckOut.html" class="cart">Cart</a>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                    <div class="">
                      <a href="#" class="Details_cart">Details</a>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                    <div class="">
                      <a href="" class="payment_card"> Payment </a>
                    </div>
                  </div>

                  <!-- ===========  Text Infor ========= -->
                  <div class="cart_contact">
                    <div class="cart_contact_heading">
                      <h3>Payment method</h3>
                    </div>
                    <div class="contact_email_Form">
                      <div class="form_heading">
                        <img src="assets/images/CreditCardFill.png" alt="" />
                        <h3>Credit Card</h3>
                      </div>
                      <form class="row">
                        <div class="mb-3 col-12">
                          <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Card Number"
                          />
                        </div>
                        <div class="mb-3 col-12">
                          <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Holder Name"
                          />
                        </div>
                        <div class="mb-3 col-6">
                          <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Expiration (MM/YY)"
                          />
                        </div>
                        <div class="mb-3 col-6">
                          <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="CVV"
                          />
                        </div>
                      </form>
                    </div>
                    <!-- ========== Billing Address  ======= -->
                    <div
                      class="Billing_addressInformations"
                      id="cart_payment_text"
                    >
                      <div class="Billing_heading_title">
                        <h3>Tax Informations</h3>
                      </div>
                      <form class="row g-3" id="billing_form">
                        <div class="col-md-12 col-12">
                          <input
                            style="height: 50px"
                            type="text"
                            class="form-control p-2"
                            id="inputName"
                            placeholder="VAT number  (optional)"
                          />
                        </div>
                        <div class="col-md-12 col-12">
                          <input
                            style="height: 50px"
                            type="text"
                            class="form-control p-2"
                            id="inputNametow"
                            placeholder="PEC (optional)"
                          />
                        </div>
                      </form>
                    </div>
                  </div>

                  <!-- ===========  Billing Address ============= -->
                  <div class="cart_billingAddress">
                    <div class="cart_payment_add_head">
                      <h3>Billing Addressa</h3>
                    </div>
                    <div class="cart_payment_bilg_contains">
                      <form action="">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault1"
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault1"
                          >
                            Same as the billing address
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault2"
                            checked
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault2"
                          >
                            Use a different address for billing
                          </label>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="col-12 mt-5 mb-3" id="billing_button">
                    <a href="#">
                      <span>Back To Cart</span>
                      <span class="dot"></span>
                    </a>
                    <a class="go_pay" href=""> Pay Now </a>
                  </div>
                  <!-- =-============ Billing Address ========== -->
                </div>
                <div class="col-lg-5">
                  <div class="cart_view_content">
                    <div class="cart_view_products pt-3 pb-4">
                      <div class="cartview_images">
                        <img src="assets/images/Rectangle 727.png" alt="" />
                        <span class="count_cart">1</span>
                      </div>
                      <div class="cart_content_title">
                        <h3>E-Commerce (WEB DESIGN)</h3>
                        <p>$ 9.99</p>
                      </div>
                    </div>

                    <!-- =============== Coupon code =========== -->
                    <div class="Coupon_inner">
                      <form>
                        <div class="" id="Coupon_flex">
                          <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Coupon code"
                          />
                          <button type="submit">Add Coode</button>
                        </div>
                      </form>
                    </div>
                    <!-- =============== Coupon code =========== -->
                    <div class="cartDta_sub_toal_">
                      <p>Sub-Total</p>
                      <p>$ 9.99</p>
                    </div>
                    <div class="cartDrta_total_F">
                      <p>Total</p>
                      <p>$ 9.99</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- =========== cart payment  ============= -->
    </main>
    <!-- =========== main End ======== -->
    <!-- ============= Footer  ========== -->
    <footer>
      <div class="footer-main">
        <div class="footer_container">
          <div class="container">
            <div class="row">
              <div class="col-lg-2">
                <div class="footer_title">
                  <div class="brand-logos">
                    <img src="assets/images/MHM (1).png" class="mb-3" alt="" />
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Expertises</h4>
                  <ul>
                    <li>
                      <a href="#"> Design Thinking </a>
                    </li>
                    <li>
                      <a href="#"> UX Design </a>
                    </li>
                    <li>
                      <a href="#">Product Design </a>
                    </li>
                    <li>
                      <a href="#">Developpement Webflow</a>
                    </li>
                    <li>
                      <a href="#">Developpement Shopify </a>
                    </li>
                    <li>
                      <a href="#">Developpement Shopify </a>
                    </li>
                    <li>
                      <a href="#">Referencement SEO </a>
                    </li>
                    <li>
                      <a href="#">Referencement SEA </a>
                    </li>
                    <li>
                      <a href="#">Reseaux sociaux</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Solutions</h4>
                  <ul>
                    <li>
                      <a href="#"> Design Thinking </a>
                    </li>
                    <li>
                      <a href="#"> UX Design </a>
                    </li>
                    <li>
                      <a href="#">Product Design </a>
                    </li>
                    <li>
                      <a href="#">Developpement Webflow</a>
                    </li>
                    <li>
                      <a href="#">Developpement Shopify </a>
                    </li>
                    <li>
                      <a href="#">Developpement Shopify </a>
                    </li>
                    <li>
                      <a href="#">Referencement SEO </a>
                    </li>
                    <li>
                      <a href="#">Referencement SEA </a>
                    </li>
                    <li>
                      <a href="#">Reseaux sociaux</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Resources</h4>
                  <ul>
                    <li>
                      <a href="#"> Miro Academy</a>
                    </li>
                    <li>
                      <a href="#"> Help Center </a>
                    </li>
                    <li>
                      <a href="#">Blog </a>
                    </li>
                    <li>
                      <a href="#">Status</a>
                    </li>
                    <li>
                      <a href="#">Miro Community</a>
                    </li>
                    <li>
                      <a href="#">Miro Professional Network</a>
                    </li>
                    <li>
                      <a href="#">Referencement SEO </a>
                    </li>
                    <li>
                      <a href="#">Miro Experts Directory </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Company</h4>
                  <ul>
                    <li>
                      <a href="#"> About us </a>
                    </li>
                    <li>
                      <a href="#"> Careers 🚀 </a>
                    </li>
                    <li>
                      <a href="#">Miro in the News </a>
                    </li>
                    <li>
                      <a href="#">Customer Stories</a>
                    </li>

                    <li>
                      <a href="#">Reseaux sociaux</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Plans and Pricing</h4>
                  <ul>
                    <li>
                      <a href="#">Pricing </a>
                    </li>
                    <li>
                      <a href="#">Enterprise </a>
                    </li>
                    <li>
                      <a href="#">Consultants </a>
                    </li>
                    <li>
                      <a href="#">Education</a>
                    </li>
                    <li>
                      <a href="#">NPOs </a>
                    </li>
                    <li>
                      <a href="#"> Contact sales </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="app_auth">
              <div class="">
                <a href="#">
                  <img src="assets/images/Frame.png" alt="" />
                </a>
                <a href="#">
                  <img src="assets/images/Frame (1).png" alt="" />
                </a>
              </div>
              <div class="copyRight">
                <p>© 2022 MHM, Inc. All rights reserved.</p>
              </div>
            </div>
          </div>
          <div class="footerBttom">
            <div class="container">
              <div class="row">
                <div class="col-lg-3">
                  <ul class="socila_media">
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="language_selected">
                        <i class="fa-solid fa-globe"></i>
                        <div class="select_language">
                          <span class="ms-1">EN</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-9">
                  <div class="right_contents">
                    <div class="copyRight">
                      <p>© 2022 Miro</p>
                    </div>
                    <ul class="trams">
                      <li>
                        <a href="#"> Terms of Service </a>
                      </li>
                      <li>
                        <a href="#"> Privacy Policy </a>
                      </li>
                      <li><a href="#"> Manage Cookies </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="assets/JS/bootstrap.min.js"></script>
    <script src="assets/JS/main.js"></script>
  </body>
</html>
