<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view_services</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="assets/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/CSS/common.css" />
    <link rel="stylesheet" href="assets/CSS/SingleVeiw.css" />
    <link rel="stylesheet" href="assets/CSS/responsive.css" />
  </head>
  <body>
    <!-- ========== haader  ======== -->
    <header>
      <!-- ========== Desktop version Navbar  ============== -->
      <div class="nav_inner_desk">
        <div class="container">
          <div class="nav_main_container">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <a class="navbar-brand brand-logos ms-3" href="index.html">
                  <img src="assets/images/MHM.png" alt="" />
                </a>
                <button
                  class="navbar-toggler toggleBtnNav"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="">
                    <i class="fa-solid fa-bars"></i>
                  </span>
                </button>
                <div
                  class="collapse navbar-collapse nav_toggleContent"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav me-auto ms-4 mb-lg-0 gap-2">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        aria-current="page"
                        href="index.html"
                        >Home</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Technology</a>
                    </li>
                    <li class="nav-item dropdown Slected-menu">
                      <a class="nav-link sele-btn" href="#">
                        Services <i class="fa-solid fa-chevron-down ms-2"></i>
                      </a>
                      <ul class="dropdown-menus">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>

                        <li>
                          <a class="dropdown-item" href="#">Something else</a>
                        </li>
                      </ul>
                    </li>

                    <li class="nav-item">
                      <a href="#" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Project</a>
                    </li>
                    <li class="nav-item dropdown more-menu">
                      <a class="nav-link moresele-btn" href="#">
                        More <i class="fa-solid fa-plus"></i>
                      </a>
                      <ul class="Moredropdown-menus">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>

                        <li>
                          <a class="dropdown-item" href="#">Something else</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <div
                    class="d-flex gap-4 align-items-center me-4 user_Trigger_Btn"
                  >
                    <div class="language_selected">
                      <a href="#" class="language_selected_btn">
                        <img src="assets/images/Ellipse 17.png" alt="" />
                        <div class="select_language">
                          <span>EN</span>
                          <i class="fa-solid fa-chevron-down"></i>
                        </div>
                      </a>
                      <ul class="languagedropdown-menus">
                        <li>
                          <a class="dropdown-item language_option" href="#"
                            >BN</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item language_option" href="#"
                            >INA</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item language_option" href="#"
                            >USA</a
                          >
                        </li>

                        <li>
                          <a class="dropdown-item language_option" href="#"
                            >PSK</a
                          >
                        </li>
                      </ul>
                    </div>

                    <div class="user_authSign">
                      <button class="btn login_btn" type="submit">
                        Log In
                      </button>
                      <button class="btn sign_btn" type="submit">
                        Sign Up
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- ============= Mobile Version Navbar =========== -->
    </header>
    <!-- ========= Header End ======= -->

    <main class="single_servicesPage" id="services_singlepage">
      <!-- =============  Hero_area   =========== -->
      <section class="ind_hero_area" id="">
        <div class="banner_container">
          <div
            class="single_Services_image_gradient"
            style="
              background-image: url('assets/images/programming-background-collage.jpg');
            "
          >
            <div class="container">
              <div class="banner_content" id="single_services_banner">
                <div class="row" id="single_banner_rows">
                  <div class="col-lg-7">
                    <div class="banner_mainContent">
                      <h1>Web Design</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- -============== Hero_Area End ============= -->

      <section class="single_service_viewInner">
        <img class="shadow_img" src="assets/images/div (5).png" alt="" />
        <div class="single_services_viewContainer">
          <div class="container">
            <div class="single_services_mainContent">
              <div class="row pb-3" id="single_services_rowss">
                <div class="col-lg-6">
                  <div class="single_services_images">
                    <a href="">
                      <img
                        src="assets/images/programming-background-collage.jpg"
                        alt=""
                      />
                      <div class="sreenShort_btn">
                        <a href="#" class="Screent_Shorts">
                          ScreenShots
                          <img
                            class="ms-2"
                            src="assets/images/icon/Rectangle 753.png"
                            alt=""
                          />
                        </a>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="Single_services_shop_products">
                    <div class="singleServ_products">
                      <h4 class="services_produts_title">E- Shop Ecommerce</h4>
                    </div>
                    <div class="d-flex" id="single_Selected_card">
                      <div class="price_Count">
                        <h5>$9.99</h5>
                      </div>
                      <div class="Selected_plan">
                        <form action="">
                          <div class="form-check ms-3">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                            <label
                              class="form-check-label"
                              for="flexRadioDefault1"
                            >
                              One time purchase
                            </label>
                          </div>
                          <div class="form-check" id="subscribePackage">
                            <input
                              class="form-check-input ms-2"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault2"
                              checked
                            />
                            <label
                              class="form-check-label ms-2"
                              for="flexRadioDefault2"
                            >
                              Subscribe and delivery every
                            </label>
                            <p class="ms-2 mt-2">
                              Subscribe now and get the 10% of discount on every
                              recurring order. The discount will be applied at
                              checkout. <a href=""> See details </a>
                            </p>
                            <p class="SubScribe_Counting">4 Week</p>
                          </div>

                          <div class="Add_cardtBtn">
                            <a href="CheckOut.html">
                              <i class="fa-solid fa-cart-shopping"></i>
                              +Add to Cart
                            </a>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- =========== License package ========== -->
                    <div class="License_package_Inner">
                      <div class="d-flex gap-3">
                        <p class="License_tiile">License</p>
                        <select name="" id="">
                          <option value="" selected>Regular</option>
                        </select>
                      </div>
                      <div class="Premium_title">
                        <p>
                          Type:
                          <span>Premium quality with Responsive Design</span>
                        </p>
                      </div>
                    </div>
                    <!-- =========== License package ========== -->
                  </div>
                </div>
              </div>

              <!-- ==========  Single Sevices Overview =============== -->
              <div class="single_services_view_containers">
                <div class="top_contains_single_services pt-4">
                  <h4>
                    The World's #1 UI Kit & Design System to quicken your
                    project's start and workflow.
                  </h4>

                  <p>
                    The Vuexy Figma Dashboard UI Kit comes with 50+ pages, 50+
                    dark and light layouts, 5 real-life dashboards, 10
                    production-ready applications, and many other features. The
                    best Figma UI kits are developed with an atomic design
                    system and auto layout, and this is one of them.
                    Additionally, you can now jumpstart your upcoming Figma
                    project by simply dragging and dropping ready-made
                    components from the Assets panel. In the right sidebar, you
                    can configure them as well. Quick and easy, how it should
                    be.
                  </p>
                  <!-- =========  Features ============ -->
                  <div class="single_services_Features_">
                    <h4>Features</h4>
                    <ul>
                      <li>Drag & Drop Dashboard Builder</li>
                      <li>Atomic Design</li>
                      <li>Auto Layout</li>
                      <li>Easy to Customize</li>
                      <li>1000+ Components</li>
                      <li>Color & Text Variables</li>
                      <li>Well Organized</li>
                      <li>100% Vector</li>
                      <li>100% Vector</li>
                      <li>Light & Dark Layout</li>
                      <li>Pixel Perfect</li>
                      <li>100+ Screens and much more</li>
                      <li>Clean & Minimal Design</li>
                      <li>Clean & Minimal Design</li>
                      <li>Set Of Icons</li>
                      <li>High Resolution</li>
                    </ul>
                  </div>
                  <!-- =========  Features ============ -->

                  <!-- ===========  Source and Credits ============== -->

                  <div class="Sourceand_Credits">
                    <h4>Source and Credits</h4>
                    <ul>
                      <li>
                        Photo
                        <a href="#"> Unsplash </a>
                      </li>
                      <li>Fonts : <a href="#">Public Sans</a></li>
                      <li>Icon : <a href="#"> Tabler Icons </a></li>
                      <li>
                        Illustration: <a href="#"> Illustrationz, </a>
                        <a href="#">Freepik</a>
                      </li>
                    </ul>
                  </div>

                  <!-- ===========  Source and Credits ============== -->

                  <!-- ===== Code Structure ================== -->
                  <div class="code_structure">
                    <h4>Code Structure</h4>

                    <div class="">
                      <img
                        src="assets/images/1_CTbkJuYm0JUcHFTAgovAsg 1.png"
                        alt=""
                      />
                      <img
                        src="assets/images/feature_rich_remote_dev 1.png"
                        alt=""
                      />
                      <img
                        src="assets/images/1218593-20210421143035756-79352990 1.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="SubScribe_container">
        <div class="our_clientInner">
          <div class="container">
            <div class="row mt-4 pt-3">
              <div class="col-lg-6">
                <div class="Subscribe_title">
                  <h3>About Your Next Project Your Mind</h3>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="Subscribe_form">
                  <button>Get In Touch</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ===============  ================== -->
    </main>
    <!-- ========== Footer  ======== -->

    <footer>
      <div class="footer-main">
        <div class="footer_container">
          <div class="container">
            <div class="row">
              <div class="col-lg-2">
                <div class="footer_title">
                  <div class="brand-logos">
                    <img src="assets/images/MHM (1).png" class="mb-3" alt="" />
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Expertises</h4>
                  <ul>
                    <li>
                      <a href="#"> Design Thinking </a>
                    </li>
                    <li>
                      <a href="#"> UX Design </a>
                    </li>
                    <li>
                      <a href="#">Product Design </a>
                    </li>
                    <li>
                      <a href="#">Developpement Webflow</a>
                    </li>
                    <li>
                      <a href="#">Developpement Shopify </a>
                    </li>
                    <li>
                      <a href="#">Developpement Shopify </a>
                    </li>
                    <li>
                      <a href="#">Referencement SEO </a>
                    </li>
                    <li>
                      <a href="#">Referencement SEA </a>
                    </li>
                    <li>
                      <a href="#">Reseaux sociaux</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Solutions</h4>
                  <ul>
                    <li>
                      <a href="#"> Design Thinking </a>
                    </li>
                    <li>
                      <a href="#"> UX Design </a>
                    </li>
                    <li>
                      <a href="#">Product Design </a>
                    </li>
                    <li>
                      <a href="#">Developpement Webflow</a>
                    </li>
                    <li>
                      <a href="#">Developpement Shopify </a>
                    </li>
                    <li>
                      <a href="#">Developpement Shopify </a>
                    </li>
                    <li>
                      <a href="#">Referencement SEO </a>
                    </li>
                    <li>
                      <a href="#">Referencement SEA </a>
                    </li>
                    <li>
                      <a href="#">Reseaux sociaux</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Resources</h4>
                  <ul>
                    <li>
                      <a href="#"> Miro Academy</a>
                    </li>
                    <li>
                      <a href="#"> Help Center </a>
                    </li>
                    <li>
                      <a href="#">Blog </a>
                    </li>
                    <li>
                      <a href="#">Status</a>
                    </li>
                    <li>
                      <a href="#">Miro Community</a>
                    </li>
                    <li>
                      <a href="#">Miro Professional Network</a>
                    </li>
                    <li>
                      <a href="#">Referencement SEO </a>
                    </li>
                    <li>
                      <a href="#">Miro Experts Directory </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Company</h4>
                  <ul>
                    <li>
                      <a href="#"> About us </a>
                    </li>
                    <li>
                      <a href="#"> Careers 🚀 </a>
                    </li>
                    <li>
                      <a href="#">Miro in the News </a>
                    </li>
                    <li>
                      <a href="#">Customer Stories</a>
                    </li>

                    <li>
                      <a href="#">Reseaux sociaux</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="footer_title">
                  <h4>Plans and Pricing</h4>
                  <ul>
                    <li>
                      <a href="#">Pricing </a>
                    </li>
                    <li>
                      <a href="#">Enterprise </a>
                    </li>
                    <li>
                      <a href="#">Consultants </a>
                    </li>
                    <li>
                      <a href="#">Education</a>
                    </li>
                    <li>
                      <a href="#">NPOs </a>
                    </li>
                    <li>
                      <a href="#"> Contact sales </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="app_auth">
              <div class="">
                <a href="#">
                  <img src="assets/images/Frame.png" alt="" />
                </a>
                <a href="#">
                  <img src="assets/images/Frame (1).png" alt="" />
                </a>
              </div>
              <div class="copyRight">
                <p>© 2022 MHM, Inc. All rights reserved.</p>
              </div>
            </div>
          </div>
          <div class="footerBttom">
            <div class="container">
              <div class="row">
                <div class="col-lg-3">
                  <ul class="socila_media">
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="language_selected">
                        <i class="fa-solid fa-globe"></i>
                        <div class="select_language">
                          <span class="ms-1">EN</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-9">
                  <div class="right_contents">
                    <div class="copyRight">
                      <p>© 2022 Miro</p>
                    </div>
                    <ul class="trams">
                      <li>
                        <a href="#"> Terms of Service </a>
                      </li>
                      <li>
                        <a href="#"> Privacy Policy </a>
                      </li>
                      <li><a href="#"> Manage Cookies </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- ============Footer End  ========= -->
    <script src="assets/JS/bootstrap.min.js"></script>
    <script src="assets/JS/main.js"></script>
    <script src="assets/JS/slick.min.js"></script>
  </body>
</html>
